﻿* {
    margin: 0;
    padding: 0;
}

.drop-down {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 10%;
}

div.drop-down > ul > li {
    display: inline-block;
    font-family: 'Indie Flower',Arial,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    font-size: 50px;
    font-weight: bold;
}

    div.drop-down > ul > li > span {
        padding: 0 10px;
        margin: 0;
        border-radius: 10px;
        color: rgb(152,152,152);
        cursor: default;
    }

        div.drop-down > ul > li > span:hover {
            background-color: #88CC10;
            color: white;
        }

    div.drop-down > ul > li > ul {
        position: absolute;
        top: 100%;
        max-height: 0;
        overflow: hidden;
        -moz-transition: max-height 1s cubic-bezier(.01,.85,.95,.14);
        -o-transition: max-height 1s cubic-bezier(.01,.85,.95,.14);
        -webkit-transition: max-height 1s cubic-bezier(.01,.85,.95,.14);
        transition: max-height 1s cubic-bezier(.01,.85,.95,.14);
    }

        div.drop-down > ul > li > ul > li {
            list-style-type:none;
            text-align:left;
            font-family:"Pacifico";
            font-weight:lighter;
            font-size:35px;
            background-color:#bee46e;
            color:white;
            padding:10px 10px;
            margin:8px 0;
            border-radius:10px;
            cursor:default;
        }

    div.drop-down > ul > li > span:hover + ul {
        max-height:300px;
    }
    div.drop-down > ul > li > ul:hover {
        max-height:300px;
    }
    div.drop-down > ul > li > ul>li:hover {
        background-color:#94b059;
        color:#353535;
    }