﻿* {
    margin:0;
    padding:0;
}
ul li {
    border-top: 10px inset green;
    list-style-type:upper-alpha;
    font-size:20px;
    color:#610876;
}
ul > li {
    color:red;
    margin-left:50px;
}

    ul > li > ol > li {
        margin-left:100px;
    }

.dark-green {
    color:darkgreen;
}

#dark-orange {
    color:darkorange;
}

.some-element {
    position:relative;
    top:10px;
    left:50px;
    width:50%;
    border:1px solid black;
}
#some-div {
    margin:10px;
    border: 1px solid red;
    width:50%;
    height:100px;
}